.home-page-carousel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 550px;
	position: relative;
}

.home-page-carousel img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home-page-carousel p {
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 60px;
	max-width: 600px;
	font-weight: 700;
	color: white;
	background-color: var(--secondary-color);
	padding: 30px;
	opacity: 0.9;
}

@media screen and (max-width: 768px) {
	.home-page-carousel {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 700px;
		position: relative;
	}

	.home-page-carousel p {
		font-size: 40px;
		padding: 20px;
		opacity: 1;
	}
}
